///////////////////////////////
/// COLORS
///////////////////////////////
$color-primary-1: hsl(259, 100%, 65%);
$color-primary-2: hsl(0, 100%, 67%);

$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(0, 0%, 94%);
$color-neutral-3: hsl(0, 0%, 86%);
$color-neutral-4: hsl(0, 1%, 44%);
$color-neutral-5: hsl(0, 0%, 8%);

///////////////////////////////
/// RESET
///////////////////////////////
* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
}

///////////////////////////////
/// BOX
///////////////////////////////
.box {
	margin: 10rem auto;
	width: max-content;
	background-color: $color-neutral-1;
	padding: 3.2rem;
	border-radius: 1rem;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrapper-inputs {
	display: flex;
	gap: 2.4rem;

	span {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
	}
}

input {
	width: 9.6rem;
	border-radius: 4px;
	border: 1px solid $color-neutral-3;
	padding: 0 1.2rem;
	font-size: 3rem;
}

// delete default input number controls
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

label {
	text-transform: uppercase;
	color: $color-neutral-4;
	font-size: 1.2rem;
	letter-spacing: 3px;
}

.wrapper-button {
	
}